$color-black: #0f0f0f !default;
$color-white: #fff !default;

$color-primary: #262524;
$color-secondary: #0068ad;

$color-shadow: #868686;

$color-success: #2ecc71;
$color-warning: #e67e22;
$color-danger: #e74c3c;
$color-cool: #9b59b6;
