html {
  font-size: 100%;
  line-height: 1;
  min-height: 100%;
  overflow-y: scroll;
}

html,
body {
  background: $color-secondary;
  color: $color-white;
  font-family: $default-font-family;
  height: 100%;
  margin: 0 auto;
  max-width: 100%;
  padding: 0;

  &.overflow--hidden {
    overflow: hidden;
  }

  @include respond-to('desktop') {
    max-width: 800px;
  }
}

* {
  box-sizing: border-box;
}

main {
  padding: 15px;

  @include respond-to('desktop') {
    padding: 15px 0;
  }
}

.hidden {
  display: none;
}
