html {
	font-size: 100%;
	line-height: 1;
	min-height: 100%;
	overflow-y: scroll;
}

html,
body {
	background-color: $dark-color;
	color: $white;
	font-family: "Roboto Condensed", sans-serif, cursive;
	height: 100%;
	margin: 0;
	padding: 0;

	&.overflow--hidden {
		overflow: hidden;
	}
}
