extends _base/layout.pug

block main

  header
    h1 Strater kit

  section.search
    label.search__wrapper(for='search__input')
      input#search__input.search__input(type='text')

  ul.survey-list
    li.survey-item
      a.survey-item__wrapper(href='!#')
        .survey-item__indicator
          input(type='checkbox')
          label(aria-hidden='true') XXX
        .survey-item__text
          h2.survey-item__title YYYYYYYYYYYYY
    li.survey-item
      a.survey-item__wrapper(href='!#')
        .survey-item__indicator
          input(type='checkbox')
          label(aria-hidden='true') XXX
        .survey-item__text
          h2.survey-item__title YYYYYYYYYYYYY
