extends _base/layout.pug

block main

  header
    h1 Strater kit
    hr

  section.search
    label.search__wrapper(for='search__input')
      input#search__input.search__input(type='text')

  ul.survey-list
    li.survey-item
      a.survey-item__wrapper(href='!#')
        .survey-item__indicator
          input(type='checkbox')
          label(aria-hidden='true') XXX
        .survey-item__text
          h2.survey-item__title YYYYYYYYYYYYY
    li.survey-item
      a.survey-item__wrapper(href='!#')
        .survey-item__indicator
          input(type='checkbox')
          label(aria-hidden='true') XXX
        .survey-item__text
          h2.survey-item__title YYYYYYYYYYYYY

  section.result
    hr
    h2 Result
    .result__wrapper
      .result__chart
        h3 What best sellers are available in your store?
        #chart
      .result__informations
        .result__content
          p Informations
          h3 What is the visit date?
          ul
            li Lorem ipsum dolor sit amet 
            li consectetur adipisicing elit.
            li Numquam ab ea accusamus aliqu

          h3 Number of products?
          strong 1588