@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);
@media print {
	*,
	:after,
	:before,
	:first-letter,
	:first-line {
		background: transparent !important;
		color: #000 !important;
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
		text-shadow: none !important
	}
	a,
	a:visited {
		text-decoration: underline
	}
	a[href]:after {
		content: " (" attr(href) ")"
	}
	abbr[title]:after {
		content: " (" attr(title) ")"
	}
	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: ""
	}
	blockquote,
	pre {
		border: 1px solid #999;
		page-break-inside: avoid
	}
	thead {
		display: table-header-group
	}
	img,
	tr {
		page-break-inside: avoid
	}
	img {
		max-width: 100% !important
	}
	h2,
	h3,
	p {
		orphans: 3;
		widows: 3
	}
	h2,
	h3 {
		page-break-after: avoid
	}
}

html {
	font-size: 100%;
	line-height: 1;
	min-height: 100%;
	overflow-y: scroll
}

body,
html {
	background: #0068ad;
	color: #fff;
	font-family: Roboto Condensed, sans-serif;
	height: 100%;
	margin: 0 auto;
	max-width: 100%;
	padding: 0
}

body.overflow--hidden,
html.overflow--hidden {
	overflow: hidden
}

@media only screen and (min-width:1024px) {
	body,
	html {
		max-width: 800px
	}
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

main {
	padding: 15px
}

@media only screen and (min-width:1024px) {
	main {
		padding: 15px 0
	}
}

.hidden {
	display: none
}

.img--responsive {
	width: 100%;
	height: auto
}
