.survey-item {
  &__wrapper {
    align-items: center;
    background: $color-primary;
    color: $color-white;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
    @include transition-all();

    &:after {
      content: "";
      clear: both;
      display: block;
    }

    &:hover {
      box-shadow: 0px 1px 2px 1px $color-white;
    }
  }

  &__indicator {
    display: block;
    float: left;
    width: 100px;
  }

  &__text {
    float: left;
    padding-left: 10px;
    width: calc(100% - 100px);
  }

  &__title {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;

    @include respond-to('desktop') {
      font-size: 1.1rem;
    };    
  }
}
