footer
  .footer__logo
    .logo
      p raknjarasoa	
  p.copyright!='© 2018 Made with love '
    strong.pulse!='\u2764'
    span!=' by '
    a(href='https://www.freecodecamp.org/raknjarasoa')
      strong raknjarasoa
    span!=' | All Rights Reserved '
